<li>
	<%= link_to gravatar_for(user, size: 50), user_path(user) %>
	<%= link_to user.name, user_path(user) %>
	<% if current_user.admin? && !current_user?(user) %>
		| <%= link_to "DELETE", user_path(user), method: :delete,
																						 data: {confirm: "You sure?"} %>
	<% end %>
</li>